<%- include('../partials/base-begin'); %>
<%- include('../partials/nav'); %>

<section class="hero has-background-light is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">New password</h3>
        <div class="box">
          <div class="is-flex is-justify-content-center">
            <figure class="image is-128x128">
              <img class="is-rounded" src="/img/feather.jpeg">
            </figure>
          </div>
          <br>
          <form action="/confirm-new-password" method="post" x-data="passwordValidation">
            <%- include('../partials/flash'); %>
            <div class="field">
              <div class="control">
                <input name="password" minlength="5" class="input is-large" type="password" placeholder="Your new password" autofocus="" :class="validationError ? 'is-danger' : ''" x-model="password">
              </div>
            </div>
            <div class="field">
              <div class="control">
                <input name="password-confirm" minlength="5" :class="validationError ? 'is-danger' : ''" class="input is-large" type="password" placeholder="Confirm new password" x-model="confirm">
              </div>
            </div>
            <input name="token" type="hidden" value="<%=token %>" />
            <div class="field">
              <span x-show="validationError != false" x-text="validationError"></span>
            </div>
            <button x-bind:disabled="validationError || !password" :class="validationError? 'is-danger' : ''" class="button is-block is-info is-large is-fullwidth">Set new password</button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="/signup">Sign Up</a> &nbsp;·&nbsp;
          <a href="/login">Login</a>
        </p>
      </div>
    </div>
  </div>
</section>
<%- include('../partials/alpine-password-validation.ejs'); %>

<%- include('../partials/footer'); %>
<%- include('../partials/base-end'); %>