<%- include('../partials/base-begin'); %>
<%- include('../partials/nav'); %>

<section class="hero has-background-light is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">Login</h3>
        <div class="box is-centered">
          <div class="is-flex is-justify-content-center">
            <figure class="image is-128x128">
              <img class="is-rounded" src="/img/feather.jpeg">
            </figure>
          </div>
          <br>
          <form action="/login" method="post">
            <%- include('../partials/flash', {global}); %>
            <div class="field">
              <div class="control">
                <input name="email" class="input is-large" type="email" placeholder="Your Email" autofocus="">
              </div>
            </div>

            <div class="field">
              <div class="control">
                <input name="password" class="input is-large" type="password" placeholder="Your Password">
              </div>
            </div>
            <div class="field">
              <label class="checkbox">
                <input name="rememberMe" type="checkbox" checked disabled>
                Remember me
              </label>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Login <i class="fa fa-sign-in" aria-hidden="true"></i></button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="/signup">Sign Up</a> &nbsp;·&nbsp;
          <a href="/forgot-password">Forgot Password</a>
        </p>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer'); %>
<%- include('../partials/base-end'); %>