<%- include('../partials/base-begin'); %>
<%- include('../partials/nav'); %>

<section class="hero is-fullheight-with-navbar">
  <div class="hero-body is-justify-content-flex-start is-align-items-flex-start">
    <div class="container content">
      <%- include('../partials/flash'); %>
      <div class="columns is-justify-content-space-between">
        <h1>My posts</h1>
        <a href="/posts/new" class="button is-fullwidth-mobile is-link">Create a new post</a>
      </div>
      <%- posts.map(post => include('../partials/post', {post})); %>
    </div>
  </div>
</section>

<%- include('../partials/footer'); %>
<%- include('../partials/base-end'); %>