<%- include('../partials/base-begin'); %>
<%- include('../partials/nav'); %>

<section class="hero is-fullheight-with-navbar">
  <div class="hero-body has-background-light is-align-items-flex-start">
    <div class="container" style="align-self: stretch;">
      <h1 class="title">Create a new post</h1>
      <%- include('_form'); %>
    </div>
  </div>
</section>

<%- include('../partials/footer'); %>
<%- include('../partials/base-end'); %>