<%- include('../partials/base-begin'); %>
<%- include('../partials/nav'); %>

<section class="hero has-background-light is-fullheight-with-navbar">
  <div class="hero-body">
    <div class="container has-text-centered">
      <div class="column is-4 is-offset-4">
        <h3 class="title has-text-black">Restore password</h3>
        <div class="box box__login">
          <form action="/restore-password" method="post">
            <%- include('../partials/flash', {global}); %>
            <div class="field">
              <div class="control">
                <input name="email" class="input is-large" type="email" placeholder="Your Email" autofocus="">
              </div>
            </div>
            <button class="button is-block is-info is-large is-fullwidth">Restore</button>
          </form>
        </div>
        <p class="has-text-grey">
          <a href="/signup">Sign Up</a> &nbsp;·&nbsp;
          <a href="/login">Login</a>
        </p>
      </div>
    </div>
  </div>
</section>

<%- include('../partials/footer'); %>
<%- include('../partials/base-end'); %>